<ion-header>
    <ion-toolbar>
        <ion-title>Cadastro Usuário</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]='user.name' name='nome'></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]='user.email' name='email'></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]='user.senha' name='senha'></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Confirme sua senha</ion-label>
        <ion-input type="password" name='confsenha'></ion-input>
    </ion-item>


    <ion-item>

        <ion-button expand="block" color="success" (click)="salvar()">Salvar</ion-button>
        <ion-button expand="block" color="danger">Cancelar</ion-button>

    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/tabs/tab1">
            <ion-icon name="return-up-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>